<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="col-md-12">
  <h2><%= @registered_app.name %></h2>
  <p><%= link_to @registered_app.url %></p>

  <%= pie_chart @registered_app.events.group(:name).count %>
  <%= line_chart @registered_app.events.group_by_day(:created_at, dates: true).count, xtitle: "Date", ytitle: "Views" %>
</div>
